.tweet-card
    .tweet-card-author
        .tweet-card-author-data 
            img(src= comment.author.avatar, alt="")
            a(href=`/user/${comment.author.username}`) 
                p @#{comment.author.username}

    .tweet-card-body= comment.message