if isAuthenticated
    .profile 
        .profile-img 
            img(src="https://randomuser.me/api/portraits/women/30.jpg", alt="")
        .profile-info
            h3 @#{currentUser.username}
            p #{currentUser.firstname} #{currentUser.lastname}