extends ../layout.pug 

block content 
    script(src="/js/likeTweet.js") 
    .content
        if isAuthenticated
            .profile-container
                include  ../includes/profile.pug
        .tweets-container
            .tweets-list 
                if isAuthenticated
                    include ../includes/tweet-form.pug
                .tweets-list-container
                    include ../includes/tweet-list.pug

